*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: #fff;
}

#clock{
    font-size: 3rem;
    background:#000;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255,255,255,0.2);
}